.lct-vertical-from{
	background-color: #5dc6c1;
	padding: 4% 4%;
}
.lct-label{
	color: white;
	font-weight: none;
}
.lct-form-title{
	color: white;
}

/*Search result page*/
.product-link a, .product-link a:hover{
	text-decoration: none;
	color: #58B8B2;
	font-weight: bolder;
}
.product-link a:link{
	text-decoration: none;
}
.row-margin{
    border-bottom: 1px solid black;
    padding-bottom: 20px;
    margin-bottom: 20px;
}
.panel-heading{
    background-color: rgba(33,160,152,.75);
    color: white;
    font-weight: bold;
}
input[type="radio"] {
  -webkit-appearance: checkbox; /* Chrome, Safari, Opera */
  -moz-appearance: checkbox;    /* Firefox */
  -ms-appearance: checkbox;     /* not currently supported */
}
.row-heading{
	background-color: rgba(33,160,152,.75);
	color: white;
	font-weight: bolder;
	text-align: center;
}
#compare-selected{
display: flex;
  align-items: center;
  justify-content: center;
}

/*compare shortlist page*/
.comparison-table .even {
    background-color: #f2f2f2;
}
.comparison-label {
    background-color: white;
}
.row-eq-height{
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display:         flex;
}


.button {
  display: inline-block;
  border-radius: 4px;
  background-color: #f4511e;
  border: none;
  color: #FFFFFF;
  text-align: center;
  font-size: 28px;
  padding: 20px;
  width: 200px;
  transition: all 0.5s;
  cursor: pointer;
  margin: 5px;
}

.button span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}

.button span:after {
  content: '\00bb';
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s;
}

.button:hover span {
  padding-right: 25px;
}

.button:hover span:after {
  opacity: 1;
  right: 0;
}